.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto 1rem;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    
    &__link{
        color: white;
        text-decoration: none;
        margin: 0;
    }
}