.coffee-tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.87rem 1.87rem;
    margin: 0 auto;
    max-width: 30rem;
}

@media screen and (min-width: 760px) {
    .coffee-tiles {
      grid-template-columns: repeat(3, 1fr);
      margin: auto;
      max-width: 46.875rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .coffee-tiles {
      grid-template-columns: repeat(4, 1fr);
      max-width: 64rem;
    }
  }